
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='stylesheet' href='https://fonts.google.com/specimen/IBM+Plex+Sans+Hebrew?subset=hebrew')
script(defer='' src='../static/script.js')
head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  meta(charset='UTF-8')
  title Navigation Bar
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
  link(rel='stylesheet' href='/design2.css')
.grid-container
  #menu-nav
    #navigation-bar
      ul.navBar
        li.home
            a(href='/home')
              i.fa.fa-home
              span בית
        li.projects
            a(href='/menu')
              i
              span פרוייקטים
        li.roads
            a(href='/roads')
              i
              span דרכי מימוש
        li.implemntion
            a(href='/execution')
              i
              span מימוש
        li.entrence
            a(href='/entry')
              i.fa.fa-user
              span כניסה
.theproject
  button.theproject
    h1 #{projectname}
.details
  .gamash
    h2 גמש
    h2 #{gamash}
  .salkium
    h2 סל קיום
    h2 #{salkium} 
  .heseim
    h2 הסעים
    h2 #{heseim}
    
