
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='stylesheet' href='https://fonts.google.com/specimen/IBM+Plex+Sans+Hebrew?subset=hebrew')
head
  script(defer='' src='/script.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  meta(charset='UTF-8')
  title Navigation Bar
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
  link(rel='stylesheet' href='/design2.css')
.grid-container
  #menu-nav
    #navigation-bar
      ul.navBar
        li.home
            a(href='/home')
              i.fa.fa-home
              span בית
        li.projects
            a(href='/menu')
              i
              span פרוייקטים
        li.roads
            a(href='/roads')
              i
              span דרכי מימוש
        li.implemntion
            a(href='/execution')
              i
              span מימוש
        li.entrence
            a(href='/entry')
              i.fa.fa-user
              span כניסה
.explanaition
  .text
    br
    |  בשנת השכלה משתמשים בתקציב צבאי לטובת הוצאה לפועל של אירועים קטנים כגדולים מההתנהלות השוטפת ועד לפרוייקטים ייחודיים

    br
    br
    |  בכדי להצליח לעשות זאת בצורה יעילה, חכמה וחסכנית עליך להיות מקצוען בתיאוריה ולהכירה לעומק

    br
    br
    | מטרת אתר זה, הינה לפרט על הסוגים השונים של התקציב הצבאי, על הערוצים השונים בכל סוג תקציב ודרך מימוש עבור כל אחד מהם

    br
    br
    | אציין שאתר זה מתמקד בסוגי וערוצי התקציב הרלוונטיים לשנת השכלה אך קיימים עוד סוגי\ערוצי תקציב רבים שלא מוזכרים כלל בפק"ל.

    br
    br
    |   יש להתייעץ עם קצין התקציבים לאורך כל הפרוייקט

    br
    br
    |  .חשוב לשים לב שהתקציב הצבאי לא ניתן להמרה בין סוגי הערוצים השונים
    br
