meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='stylesheet' href='https://fonts.google.com/specimen/IBM+Plex+Sans+Hebrew?subset=hebrew')
script(defer='' src='../static/script.js')
head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  meta(charset='UTF-8')
  title Navigation Bar
   link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
  link(rel='stylesheet' href='/design2.css')
.grid-container
  #menu-nav
    #navigation-bar
      ul.navBar
        li.home
            a(href='/home')
              i.fa.fa-home
              span בית
        li.projects
            a(href='/menu')
              i
              span פרוייקטים
        li.roads
            a(href='/roads')
              i
              span דרכי מימוש
        li.implemntion
            a(href='/execution')
              i
              span מימוש
        li.entrence
            a(href='/entry')
              i.fa.fa-user
              span כניסה
.explenations
  .gamash
    h2 גמ"ש
    p1  קופונים שניתנים להמרה במשיכות מהמטבח br לעבודה עם התקציב יש לעבוד מול ק.תזונה שמהווה קשר ל"ספקים" שונים br דרכים למימוש: br משיכות של חומרי גלם מהמטבח br משיכות של ארוחות br משיכות מבסיסים שונים br סנדוויצ'ים של לורד סנדוויץ’ br קייטרינג- חמגשיות
  .salkium
    h2 סל קיום
    p1 מוצרים כגון: אלבד, מחברות, ציוד נקיון והגיינה וכו br  את התמחור יש לבצע מול מ.ג. אפסנאות br ניתן להעזר בקצין מגורים שמבצע משיכה פעם בשבועיים
    
  .heseim
    h2 הסעים
    p1 פנייה לגף חינוך
    
