
<!DOCTYPE html>
<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <link rel="stylesheet" href="https://fonts.google.com/specimen/IBM+Plex+Sans+Hebrew?subset=hebrew">
  <script defer src="../static/script.js"></script>
<head>
  <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Navigation Bar</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

      <link rel="stylesheet" href="../static/design2.css">
</head>
 
<body>
  <div class="grid-container">
   <div id="menu-nav">
   <div id="navigation-bar">
     <ul class="nav">
       <li class="בית"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%91%D7%99%D7%AA.html"><i class="fa fa-home"></i><span class="a">בית</span></a></li>
       <li class="פרוייקטים"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98%D7%99%D7%9D.html"><i class=""></i><span class="a">פרוייקטים</span></a></li>
       <li class="דרכים"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%93%D7%A8%D7%9B%D7%99%20%D7%9E%D7%99%D7%9E%D7%95%D7%A9.html"><i class=""></i><span class="a">דרכי מימוש</span></a></li>
       <li class="מימוש"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9E%D7%99%D7%9E%D7%95%D7%A9.html"><i class=""></i><span class="a">עדכון המימוש</span></a></li>
     <li class="כניסה"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9B%D7%A0%D7%99%D7%A1%D7%94.html"><i class="fa fa-user"></i> <span class="a">כניסת משתמשים</span></a></li>
     </ul>
   </div>
   </div>
 </div>

  <div class="explanaition">
    <div class="text">
      <br> בשנת השכלה משתמשים בתקציב צבאי לטובת הוצאה לפועל של אירועים קטנים כגדולים מההתנהלות השוטפת ועד לפרוייקטים ייחודיים<br>
      <br> בכדי להצליח לעשות זאת בצורה יעילה, חכמה וחסכנית עליך להיות מקצוען בתיאוריה ולהכירה לעומק<br>
      <br>מטרת אתר זה, הינה לפרט על הסוגים השונים של התקציב הצבאי, על הערוצים השונים בכל סוג תקציב ודרך מימוש עבור כל אחד מהם<br>
      <br>אציין שאתר זה מתמקד בסוגי וערוצי התקציב הרלוונטיים לשנת השכלה אך קיימים עוד סוגי\ערוצי תקציב רבים שלא מוזכרים כלל בפק"ל. <br>
      <br>  יש להתייעץ עם קצין התקציבים לאורך כל הפרוייקט<br>
      <br> .חשוב לשים לב שהתקציב הצבאי לא ניתן להמרה בין סוגי הערוצים השונים<br> 
     </div>

  </div>
</div>
</body>
 
</html>
