<!DOCTYPE html>
<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <link rel="stylesheet" href="https://fonts.google.com/specimen/IBM+Plex+Sans+Hebrew?subset=hebrew">
  <script defer src="../static/script.js"></script>
<head>
  <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Navigation Bar</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

      <link rel="stylesheet" href="../static/design2.css">
</head>
 
<body>
 <div class="grid-container">
  <div id="menu-nav">
  <div id="navigation-bar">
    <ul class="nav">
      <li class="בית"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%91%D7%99%D7%AA.html"><i class="fa fa-home"></i><span>בית</span></a></li>
      <li class="פרוייקטים"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98%D7%99%D7%9D.html"><i class=""></i><span>פרוייקטים</span></a></li>
      <li class="דרכים"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%93%D7%A8%D7%9B%D7%99%20%D7%9E%D7%99%D7%9E%D7%95%D7%A9.html"><i class=""></i><span>דרכי מימוש</span></a></li>
      <li class="מימוש"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9E%D7%99%D7%9E%D7%95%D7%A9.html"><i class=""></i><span>עדכון המימוש</span></a></li>
	  <li class="כניסה"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9B%D7%A0%D7%99%D7%A1%D7%94.html"><i class="fa fa-user"></i> <span>כניסת משתמשים</span></a></li>
    </ul>
  </div>
  </div>
</div>

 

    <div class="פירוטדרכים">
        <div class="גמש">
            <h2>גמ"ש </h2>
            " קופונים שניתנים להמרה במשיכות מהמטבח" <br>
           לעבודה עם התקציב יש לעבוד מול ק.תזונה שמהווה קשר ל"ספקים" שונים <br>
           דרכים למימוש:<br>
           משיכות של חומרי גלם מהמטבח<br>
           משיכות של ארוחות <br>
           משיכות מבסיסים שונים<br>
           סנדוויצ'ים של לורד סנדוויץ’<br>
           קייטרינג- חמגשיות<br>
        </div>

        <div class="סלקיום">
            <h2>סל קיום</h2>
            מוצרים כגון: אלבד, מחברות, ציוד נקיון והגיינה וכו <br>
            את התמחור יש לבצע מול מ.ג. אפסנאות <br>
            ניתן להעזר בקצין מגורים שמבצע משיכה פעם בשבועיים<br>
        </div>

        <div class="הסעים">
            <h2>הסעים</h2>
            פנייה לגף חינוך <br>
            היא פונה ליהודה (א.היסעים) שמחזיר את התקציב הנדרש עבור היעדים <br>
        </div>

    </div>
</body>
 
</html>
