<!DOCTYPE html>
<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <link rel="stylesheet" href="https://fonts.google.com/specimen/IBM+Plex+Sans+Hebrew?subset=hebrew">
  <script defer src="../static/script.js"></script>
<head>
  <meta charset="UTF-8">
  <title>Navigation Bar</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
 <link rel="javascript" href="../static/script.js">

      <link rel="stylesheet" href="../static/design2.css">
</head>
 
<body>
 <div class="grid-container">
  <div id="menu-nav">
  <div id="navigation-bar">
    <ul class="nav">
	  <li class="כניסה"><a href="ffile:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9B%D7%A0%D7%99%D7%A1%D7%94.html"><i class="fa fa-user"></i> <span>כניסת משתמשים</span></a></li>
    </ul>
  </div>
  </div>
</div>

  <div class="container" id="container">
    <div class="form-container log-in-container">
        <form action="action="/action_page.php"">
            <h1>כניסת משתמשים</h1>
            <div class="social-container">
            </div>
            <span>השתמש באימייל של האוניברסיטה</span>
            <input class="email" type="email" placeholder="מייל" />
            <input class="password" type="password" placeholder="מספר אישי" />
            <button input type="submit" value="Submit" >כניסה</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            
        </div>
    </div>
</div>
</body>
 
</html>
