<!DOCTYPE html>
<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <link rel="stylesheet" href="https://fonts.google.com/specimen/IBM+Plex+Sans+Hebrew?subset=hebrew">
  <script defer src="../static/script.js"></script>
<head>
  <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Navigation Bar</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

      <link rel="stylesheet" href="../static/design2.css">
</head>
 
<body>
    <div class="grid-container">
     <div id="menu-nav">
     <div id="navigation-bar">
       <ul>
        <li class="בית"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%91%D7%99%D7%AA.html"><i class="fa fa-home"></i><span >בית</span></a></li>
        <li class="פרוייקטים"><a  href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98%D7%99%D7%9D.html"><i class=""></i><span >פרוייקטים</span></a></li>
        <li class="דרכים"><a  href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%93%D7%A8%D7%9B%D7%99%20%D7%9E%D7%99%D7%9E%D7%95%D7%A9.html"><i class=""></i><span >דרכי מימוש</span></a></li>
        <li class="מימוש"><a  href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9E%D7%99%D7%9E%D7%95%D7%A9.html"><i class=""></i><span >עדכון המימוש</span></a></li>
      <li class="כניסה"><a  href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9B%D7%A0%D7%99%D7%A1%D7%94.html"><i class="fa fa-user"></i> <span >כניסה</span></a></li>
       </ul>
     </div>
     </div>
   </div>

   
  <div class="cont">
    
    <form action="/action_page.php">
        <label for="שם">:בחר פרוייקט</label>
        <select class="בחירה" name="שם" id="שם">
          <optgroup label="187">
            <option value="יום הורים 187">יום הורים 187</option>
            <option value="שבת מפקד מסלולים 187">שבת מפקד מסלולים 187</option>
            <option value=" יום חיבור לחיל האויר מסלולים 187">  187 יום חיבור לחיל האויר מסלולים </option>
            <option value="שבת חינוך מסלולים 187">שבת חינוך מסלולים 187</option>
          </optgroup>

            <optgroup label="188">
              <option value=" שבת חינוך מבואות 188"> שבת חינוך מבואות 188</option>
              <option value="שבת  מבואות 188">שבת  מבואות 188</option>
              <option value=" יום המטה המבצעי 188">  188  יום המטה המבצעי </option>
              <option value="שבת חינוך מסלולים 188">שבת חינוך מסלולים 188</option>
              <option value="יום עיון ציונות 188">יום עיון ציונות  188</option>
              <option value="מסע שנת השכלה 188">מסע שנת השכלה 188</option>
              <option value="יום עיון מורשת 188">יום עיון מורשת  188</option>
              <option value="יום חיבור לחיל האויר מסלולים 188">  188 יום חיבור לחיל האויר מסלולים </option>
              <option value="שבת מפקד מסלולים 188">שבת מפקד מסלולים 188</option>
              <option value="יום הורים 188">יום הורים 188</option>
            </optgroup>

            <optgroup label="189">
              <option value=" שבת חינוך מבואות 189"> שבת חינוך מבואות 189</option>
              <option value="שבת  מבואות 189">שבת  מבואות 189</option>
              <option value=" יום המטה המבצעי 189">  189  יום המטה המבצעי </option>
              <option value="יום עיון ציונות 189">יום עיון ציונות  189</option>
              <option value="מסע שנת השכלה 189">מסע שנת השכלה 189</option>
              <option value="יום עיון מורשת 189">יום עיון מורשת  189</option>
            </optgroup>
          </select>
       

        <div class="שם">
        <div class="input">
            <label  class="text" for="שם">:מימוש גמ"ש </label>
          <input class="input" type="גמש" placeholder="גמש" />
        </div>
        <div class="input">
            <label for="שם" class="text">:מימוש סל קיום </label>
          <input class="input" type="סלקיום" placeholder="סל קיום" />
        </div>
        <div class="input">
            <label for="שם" class="text">:מימוש הסעים </label>
            <input class="input" type="הסעים" placeholder="הסעים" />
          </div>
        </div>

        <br><br>
        <button input type="submit" value="Submit" >אישור</button>
      </form>
    </div>
</body>
 
</html>
