<!DOCTYPE html>
<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <link rel="stylesheet" href="https://fonts.google.com/specimen/IBM+Plex+Sans+Hebrew?subset=hebrew">
<head>
  <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Navigation Bar</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

      <link rel="stylesheet" href="../static/design2.css">
</head>
 
<body>
 <div class="grid-container">
  <div id="menu-nav">
  <div id="navigation-bar">
    <ul class="nav">
      <li class="בית"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%91%D7%99%D7%AA.html"><i class="fa fa-home"></i><span>בית</span></a></li>
      <li class="פרוייקטים"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98%D7%99%D7%9D.html"><i class=""></i><span>פרוייקטים</span></a></li>
      <li class="דרכים"><a href="#"><i class=""></i><span>דרכי מימוש</span></a></li>
      <li class="מימוש"><a href="#"><i class=""></i><span>עדכון המימוש</span></a></li>
	  <li class="כניסה"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9B%D7%A0%D7%99%D7%A1%D7%94.html"><i class="fa fa-user"></i> <span>כניסת משתמשים</span></a></li>
    </ul>
  </div>
  </div>

  
</body>
 
</html>
