<!DOCTYPE html>
<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
  <link rel="stylesheet" href="https://fonts.google.com/specimen/IBM+Plex+Sans+Hebrew?subset=hebrew">
  <script defer src="../static/script.js"></script>
<head>
  <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Navigation Bar</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

      <link rel="stylesheet" href="../static/design2.css">
</head>
 
<body>
  <div class="grid-container">
   <div id="menu-nav">
   <div id="navigation-bar">
     <ul>
      <li class="בית"><a href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%91%D7%99%D7%AA.html"><i class="fa fa-home"></i><span >בית</span></a></li>
      <li class="פרוייקטים"><a  href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98%D7%99%D7%9D.html"><i class=""></i><span >פרוייקטים</span></a></li>
      <li class="דרכים"><a  href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%93%D7%A8%D7%9B%D7%99%20%D7%9E%D7%99%D7%9E%D7%95%D7%A9.html"><i class=""></i><span >דרכי מימוש</span></a></li>
      <li class="מימוש"><a  href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9E%D7%99%D7%9E%D7%95%D7%A9.html"><i class=""></i><span >עדכון המימוש</span></a></li>
    <li class="כניסה"><a  href="file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%9B%D7%A0%D7%99%D7%A1%D7%94.html"><i class="fa fa-user"></i> <span >כניסה</span></a></li>
     </ul>
   </div>
   </div>
 </div>






<div class="options">

     <div class="187">

      <div class="ד">
        <button class="קטגוריה">
         קורס 187
        </button>

        <button class="btnc" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'" >
          יום הורים 187
        </button>

        <button class="btnc" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          שבת מפקד מסלולים 187
        </button>

         <button class="btnc" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
           יום חיבור לחיל האויר מסלולים 187
         </button>

         <button class="btnc" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          שבת חינוך מסלולים 187  
         </button>
       </div>

       </div>




     <div class="188">

      <div class="5">
        <button class="קטגוריה">
          קורס 188
         </button>

        <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
         שבת חינוך מבואות 188  
        </button>

        <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          יום המטה המבצעי 188  
        </button>

        <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          188 יו"ע ציונות      
       </button>

       <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
        188 מסע שנת השכלה
         </button>

       <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          188 שבת מבואות
        </button>

        <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          שבת חינוך מסלולים 188  
        </button>

        <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          יום עיון מורשת 188
         </button>

         <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          יום חיבור לחיל האויר מסלולים 188
        </button>
                
        <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          שבת מפקד מסלולים 188
        </button>        

        <button class="btna" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          יום הורים 188
        </button>
      </div>
     </div>




     <div class="189">

      <div class="a">
        <button class="קטגוריה">
          קורס 189
         </button>

        <button class="btnb" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          189 שבת מבואות
        </button>

        <button class="btnb" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          189 מסע שנת השכלה
           </button>

           <button class="btnb" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
            189 יו"ע ציונות      
         </button>

         <button class="btnb" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          יום המטה המבצעי 189  
        </button>

        <button class="btnb" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          שבת חינוך מבואות 189  
         </button>

         <button class="btnb" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          יום עיון מורשת 189
         </button>
      </div>
     </div>




     <div class="כללי">

      <div class="21">
        <button class="קטגוריה">
           כללי
         </button>

        <button class="btnd" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          טיול טייסת
        </button>
        <button class="btnd" onclick="window.location.href='file:///C:/Users/user/Documents/web/REPOS/yahel_habot/views/%D7%A4%D7%99%D7%A8%D7%95%D7%98.html'">
          גיבוש טייסת
        </button>
       </div>  

     </div>

    </div>
  
</body>
 
</html>
