
style.cssCSS
body {
  background: #34495e;
  font: normal 300 18px "Roboto", sans-serif;
  
}

.explanaition{
  background-color: #ecf0f1;
  width: 60vw;
  margin:auto;
  padding: 60vw;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 2vh;
  margin-top: 8vh;
}

.text{
  text-align: center;
  font-family: "IBM Plex Sans Hebrew", sans-serif; 
}
 
#menu-nav {
  max-width: 100%;
  margin: 13px auto;
  background-color: #585858;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 9vh;
}
 
#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
  height: 9vh;
}
#navigation-bar li {
  float: left;
  width: 20%;
  height: 9vh;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
  size: 1mm;
}
#navigation-bar a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
  height: 9vh;
  size: 1mm;

}
#navigation-bar a:hover {
  color: #ffffff;
  size: 1mm;

}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #ffffff;
  size: 1mm;

  
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
  size: 1mm;

}
 
li {
	list-style: none;
}

.פרוייקטים{
  background-color: #6ed3cf;
}

.דרכים{
  background-color: #9068be;
}

.מימוש{
  background-color: #e62739;
}


 *{  font-family: "IBM Plex Sans Hebrew", sans-serif; 
 }

 @media only screen and (max-width: 500px) {
 *{font-size:12px;}
 }








