style.cssCSS


body.fade {
  opacity: 0;
}



.explanaition{
  background-color: white;
  width: 60vw;
  margin:auto;
  padding: 60vw;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 2vh;
  margin-top: 8vh;
}

.text{
  text-align: center;
  font-family: "IBM Plex Sans Hebrew", sans-serif; 
}


#menu-nav {
    max-width: 100%;
    margin: 13px auto;
    background-color: #585858;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 9vh;
  }
   

  #navigation-bar ul {
    border-radius: 4px;
    overflow: hidden;
    height: 9vh;
    margin-top: 6vh;
  }

  #navigation-bar li {
    float: left;
    width: 20%;
    height: 9vh;

  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
    size: 1mm;
  }
  #navigation-bar a {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
    height: 9vh;
    size: 1mm;
    margin-top: auto;
    
  }

  #navigation-bar a:hover {
    color: #ffffff;
    size: 1mm;
  
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
    size: 1mm;
  
    
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
    size: 1mm;
  
  }
   
  li {
      list-style: none;
  }
  
  .פרוייקטים{
    background-color: #6ed3cf;
  }
  
  .דרכים{
    background-color: #9068be;
  }
  
  .מימוש{
    background-color: #e62739;
  }
  
  
   *{  font-family: "IBM Plex Sans Hebrew", sans-serif; 
   }
  
   @media only screen and (max-width: 500px) {
   *{font-size:12px;}
   .options{
    display: grid;
    grid-template-areas: 
    '187'
    '188'
    '189'
    'כללי';
    
    margin-top: 5vh;
    
    
    }

   }

   

body {
	background: rgb(199, 218, 218);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height:100vh;
	margin: -20px 0 50px;
  font: normal 300 18px "Roboto", sans-serif;
}



.container{
    background-color: #ecf0f1;
    width: 50vw;
    margin:auto;
    padding: 60vw;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2vh;
}


.container {
	background-color: #fff;
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position:relative;
	overflow: hidden;
	width: 50vw;
	height: 60vh;
  margin-top:8vh;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}


h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #e62739;
	background-color: #e62739;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}



.email {
  text-align: right;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.password{
  text-align: right;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: #2227aa;
	background: -webkit-linear-gradient(to right, #00047b, #00047b);
	background: linear-gradient(to right, #00047b, #00047b);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.הפרוייקט{
  background-color:transparent ;
  border-radius: 4px;
  border-color: black;
  width: 20vw;
  margin-block-end: 10px;
  color:#000000;
  margin: auto;
  margin-top: 7vh;
}

.text2{
  text-align: center;
  font-family: "IBM Plex Sans Hebrew", sans-serif; 
  outline-color: black;
}

.btna{
  background-color: #007FFF;
  border-radius: 4px;
  border-color: transparent;
  width: 20vw;
  margin-block-end: 10px;
  -webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s


}

.btnb{
  background-color: #00d9ffce;
  border-radius: 4px;
  border-color: transparent;
  width: 20vw;
  margin-block-end: 10px;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  
  }

.btnc{
  background-color:#00308F ;
  border-radius: 4px;
  border-color: transparent;
  width: 20vw;
  margin-block-end: 10px;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  
  }

.btnd{
  background-color:#7FFFD4 ;
  border-radius: 4px;
  border-color: transparent;
  width: 20vw;
  margin-block-end: 10px;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  
  }

.btna:hover{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #47a3ff;
}

.btnb:hover{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #63e8ffce;
}

.btnc:hover{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #003fbc;
}

.btnd:hover{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #a6ffe1;
}

.options{
display: grid;
grid-template-areas: 
'187'
'188'
'189'
'כללי';

grid-template-columns: auto auto auto auto;
margin-top: 5vh;
}

.גמש{
  text-align: center;
  background-color: #9068be;
  font-size: smaller;
  -webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

.סלקיום{
  text-align: center;
  background-color: #9068be;
  font-size: smaller;
  margin-left: 1vw;
  margin-right: 1vw;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s  
}

.הסעים{
  text-align: center;
  background-color: #9068be;
  font-size: smaller;
  -webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

.פירוט{
  display: grid;
  grid-template-areas: 
  'גמש סלקיום הסעים';


  margin-top: 10vh;

}

.פירוטדרכים{
  display: grid;
  grid-template-areas: 
  'גמש סלקיום הסעים';


  margin-top: 25vh;
}

#navigation-bar a.active{
  color:white;
  text-decoration: underline white;
}

.קטגוריה{
  background-color:transparent ;
  border-radius: 4px;
  border-color: black;
  width: 20vw;
  margin-block-end: 10px;
  color:#000000;
}

.input{
  text-align: right;
}

.cont{
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position:relative;
	overflow: hidden;
	width: 30vw;
	height: 80vh;
  margin-top:8vh;
  margin:auto;
  -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s

}





@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}







