.item1 { 
    grid-area:Header;
    background-color: rgb(196, 225, 233);
    height: 5vh
} 

.item2 { 
   grid-area: menu; 
   background-image: url(.//buho___33_by_londyeditions-d59x51o.png);
   background-repeat:space;
   background-attachment: scroll;
   background-size:contain;
   height:0.531vw;
   
}

.item3 {
    grid-area: main;
    background-color: #ea4253;
    height: 3vh
    
 }

.item4 { 
    grid-area: right;
    background-color: #9274b4;
    height: 3vh
 }

.item5 {
    grid-area: footer1; 
    background-color: #6ac9c6;
    height: 15vw;
 
}


    

.item6{grid-area: footer2; 
    background-color: #6ac9c6;
    height: 15vw;
}

.item7{grid-area: footer3; 
    background-color: #6ac9c6;
    height: 15vw;
}




.grid-container > div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      }

 *{
        background-color: rgb(229, 248, 233);
    }

    .grid-container {
        display: grid;
        grid-template-areas:
          'Header Header Header Header Header Header'
          ' right right right right right right'
          ' footer1 footer1 footer2 footer2 footer3 footer3'
        'main main main null null null'
        'menu menu menu menu menu menu'
        ;
        gap: 30px;
        background-color: rgb(229, 248, 233);
        padding: 10px;
      }
      
     @media only screen and (max-width: 600px) {
        .grid-container > div {
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
          }
        .grid-container > div {
                text-align: center;
                padding: 20px 0;
                font-size: 30px;
              }
              .grid-container {
                display: grid;
                grid-template-areas:
                  'Header Header Header'
                  'right right right'
                  'footer1 footer1 footer1'
                  'footer2 footer2 footer2'
                  'footer3 footer3 footer3'
                  'main main main'
                  'menu menu menu'
                ;
                gap: 30px;
                background-color: rgb(229, 248, 233);
                padding: 10px;
              }
              
      }


   .item3:hover {
  background-color: #ff2d42;
  color: white;
  text-shadow: 2px 2px 4px #000000;
      }

  


*{font-family: "IBM Plex Sans Hebrew", sans-serif;
font-size:1px;
}

